<%=link_to product do %>
<div id="<%= dom_id product %>">
  <%= image_tag product.image.first, class: "h-60 w-full object-cover rounded-lg hover:brightness-75 transition-all duration-250" %>
  <p class="text-sm text-gray-50"><%= product.name %></p>
  <p class="text-sm text-gray-200"> <%= number_to_currency product.price %></p>
</div>
<% end%>
